@page
@model GameInventoryAPI.Pages.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<h2>Logout</h2>
<p>You have been logged out.</p>

<form method="post">
    @Html.AntiForgeryToken() <!-- Генерация CSRF-токена -->
    <button type="submit">Logout</button>
</form>
